[submodule "redis-server-from-scratch"]
	path = redis-server-from-scratch
	url = https://git.codecrafters.io/79b0ee1cc7daf270
[submodule "redis-server-practice"]
	path = redis-server-practice
	url = https://git.codecrafters.io/79b0ee1cc7daf270
